<!-- send_email.html -->

<form method="post">
    {% csrf_token %}
    <label for="email_list">E-posta Listesi:</label>
    <select name="email_list" id="email_list" multiple>
      {% for email_list in email_lists %}
        <option value="{{ email_list.id }}">{{ email_list.name }}</option>
      {% endfor %}
    </select><br>
    <label for="subject">Konu:</label>
    <input type="text" name="subject" required><br>
    <label for="message">Mesaj:</label>
    <textarea name="message" required></textarea><br>
    <input type="submit" value="Gönder">
  </form>
  